<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Escolher Categoria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Style.css') }}">
</head>

<body>

<header>
    <div class="logo">ServiConnect</div>

    <nav>
     <a href="{{ url_for('main.pagina_home') }}">Início</a>
     <a href="{{ url_for('main.categoria') }}">Categorias</a>
     <a href="{{ url_for('main.ComoFunciona') }}">Como Funciona</a>

     <!-- PERFIL COM FOTO -->
     <a href="{{ url_for('main.perfil') }}" class="nav-perfil">
        {% if usuario and usuario.foto %}
        <img
         class="nav-perfil-avatar"
         src="{{ url_for('static', filename='uploads/' + usuario.foto) }}"
         alt="Foto de {{ usuario.nome }}">
        {% elif usuario and usuario.nome %}
        <div class="nav-perfil-avatar-fallback">
          {{ usuario.nome[0].upper() }}
        </div>
        {% else %}
            <div class="nav-perfil-avatar-fallback">?</div>
        {% endif %}
        Perfil
    </a>
    <a href="{{ url_for('main.logout') }}" class="btn">Sair</a>
    </nav>
</header>

<section class="categorias">
    <h2>Escolha uma Categoria</h2>

    <form method="POST">
        <div class="cards">

            <label class="card-option">
                <input type="radio" name="categoria" value="eletricista" required>
                <div class="card-content">
                    🔌
                    <p>Eletricista</p>
                </div>
            </label>

            <label class="card-option">
                <input type="radio" name="categoria" value="encanador">
                <div class="card-content">
                    🚰
                    <p>Encanador</p>
                </div>
            </label>

            <label class="card-option">
                <input type="radio" name="categoria" value="programador">
                <div class="card-content">
                    💻
                    <p>Programador</p>
                </div>
            </label>

            <label class="card-option">
                <input type="radio" name="categoria" value="designer">
                <div class="card-content">
                    🎨
                    <p>Designer</p>
                </div>
            </label>

            <label class="card-option">
                <input type="radio" name="categoria" value="limpeza">
                <div class="card-content">
                    🧹
                    <p>Limpeza</p>
                </div>
            </label>

        </div>

        <button type="submit" class="btn-confirmar">Confirmar</button>
    </form>

</section>

</body>
</html>